/** Styles for responsive design **/

@media only screen and (max-width: 800px) {
	.score-panel {
        width: 90%;
    }

    .deck {
        width: 95%;
        padding: 16px;
        min-height: 90vw;
    }

    .deck .card {
		width: 18vw;
		height: 18vw;
    }
}